
{%load static%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><i class="far fa-futbol"></i>FootBall TV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="#" tabindex="-1" >Contact Us</a>
            </li>
            </ul>
        </div>
        <div class="navbar-nav navbar-right" >
            <a class="nav-item nav-link"  href="{% url 'register'%}"><i class="fas fa-user-plus"></i>Sign Up</a>
            <a class="nav-item nav-link"  href="{% url 'log'%}"><i class="fas fa-sign-in-alt"></i>Login</a>
        </div>
    </nav>
<div class="container">
<br>  <p class="text-center"><a href="http://bootstrap-ecommerce.com/"></a></p>


<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<br>
	<form action="" method="POST">
    	{% csrf_token %}
		<div class="form-group input-group">
			<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 </div>
    	    <input name="first_name" class="form-control" placeholder="First Name" type="text">
    	</div> <!-- form-group// -->

    	<div class="form-group input-group">
    		<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 </div>
    	    <input name="last_name" class="form-control" placeholder="Last Name" type="text">
    	</div> <!-- form-group// -->

    	<div class="form-group input-group">
    		<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
			</div>
    		<input name="username" class="form-control" placeholder="User Name" type="text">
    	</div> <!-- form-group// -->
	
    	<div class="form-group input-group">
    		<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
			</div>
    	    <input name="email" class="form-control" placeholder="Email" type="email">
    	</div> <!-- form-group// -->

    	<div class="form-group input-group">
    		<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
			</div>
    	    <input name="password" class="form-control" placeholder="Create password" type="password">
    	</div> <!-- form-group// -->

    	<div class="form-group input-group">
    		<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
			</div>
    	    <input name="password2" class="form-control" placeholder="Repeat password" type="password">
    	</div> <!-- form-group// --> 
	
    	<div class="form-group">
    	    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    	</div> <!-- form-group// -->      
    	<p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
	</form>
</article>
</div> <!-- card.// -->

</div> 
</body>
<!--container end.//-->

